@model IEnumerable<OnlineShopping.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h3>Order History</h3>
<hr />
@if (Model.Any())
{
    foreach (var item in Model)
    {
        <table class="table table-bordered table-striped">
            <tr>
                <td>
                    <b>@Html.DisplayNameFor(model => model.OrderId) </b>:
                    @Html.DisplayFor(modelitem => item.OrderId)
                </td>

                <td>
                    <b>@Html.DisplayNameFor(model => model.OrderDate)</b> :
                    @Html.DisplayFor(modelitem => item.OrderDate)
                </td>

                <td>
                    <b>@Html.DisplayNameFor(model => model.TotalAmount)</b> :
                    @Html.DisplayFor(modelitem => item.TotalAmount)
                </td>

                <td>
                    <b>@Html.DisplayNameFor(model => model.Status)</b> :
                    @Html.DisplayFor(modelitem => item.Status)
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <b>@Html.DisplayNameFor(model => model.ShippingAddress)</b> :
                    @Html.DisplayFor(modelitem => item.ShippingAddress)
                </td>
            </tr>

            <tr>
                <td colspan="4">
                    <h4>Order Items :</h4>
                    <table class="table table-bordered">
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                TotalPrice
                            </th>
                        </tr>
                        @foreach (var orderDetails in item.OrderDetails)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => orderDetails.Product.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => orderDetails.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => orderDetails.TotalPrice)
                                </td>
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    }
}
else
{
    <h4> No Order History Found !!! </h4>
}