@model IEnumerable<OnlineShopping.Areas.Admin.ViewModels.RoleViewModel>

@{
    ViewData["Title"] = "Roles Index";
}

<h1>List Roles</h1>

<p>
    @Html.ActionLink("Create Role", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId })
                </td>
            </tr>
        }
    </tbody>
</table>
