@model IEnumerable<OnlineShopping.Areas.Admin.ViewModels.UserRoleViewModel>

@{
    ViewData["Title"] = "Index";
}

<h3>Users Role Management</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Roles)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <ul>
                        @foreach (var role in item.Roles)
                        {
                            <li>@role</li>
                        }
                    </ul>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { userId = item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
